*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header starts from here */
body {
    position: relative;
    font-weight: 400;
    line-height: 1.5;
}
  
body::before {
    content: ' ';
    display: block;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    /* background-color: cyan; */
    background-image: url(./images/colorful-abstract-nebula-space-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: 50% 0; */
    background-size: cover;
}

#body-content{
    position: relative;
}
#header{
    /* background-image: url("./images/background.jpg"); */
    width: 100%;
    height: auto;
    /* background-size: cover; */
    /* background-attachment: fixed; */
    /* filter: blur(0px); */
    /* background-position: center; */
    /* border: 2px solid black; */
}

    /* Header navigation bar starts */
#navbar{
    position: sticky;
    top: 0;
    z-index: 20;
    height: 80px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg,#050404e6 17% ,#1a0303e6);
}

#navbar > a{
    /* For logo image */
    width: 15%;
    position: relative;
    left: 2%;
    display: flex;
    height: 100%;
    
}
#navbar a img{
    align-items: center;
    
    width: 100%;
    
}
#hamBurgerA{
    display: none;
}
#hamList{
    display: none;
    list-style: none;

}


#navbar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 1.2rem;
    justify-content: flex-end;
    width: 70%;
    padding-right: 2%;
}
#navbar ul li{
    font-family: 'Josefin Sans', sans-serif;
    margin-left:4%;
    padding: 0px 0.4%;
    
}
#navbar ul li a{
    text-decoration: none;
    color: white;
    transition: color 1s, border-bottom 4s;
    
}
#navbar ul li a:hover{
    color:bisque;
    /* border-bottom: 1px solid bisque; */
}
@media screen and (max-width:947px){
    #navbar{
        justify-content: space-around;
        
    }
    #navbar > a{
        /* For logo image */
        width: 60%;
        padding: 10px;
        /* justify-content: space-around; */
        /* border: 2px solid red; */
        
    }
    #navbar ul{
        display: none;
    }
    #hamBurgerA{
        text-decoration: none;
        width: 20% !important;
        transition: all 1s ease-in-out;
    }
    #hamBurgerA:hover{
        transform: rotate(180deg);
    }
    #hamBurger{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .hamLine{
        width: 70%;
        height: 0px;
        border: 1.5px solid white;
        margin: 4% 0;
        
    }
    
    #hamList{
        display: flex !important;
        flex-direction: row;
        /* flex-wrap: wrap; */
        position: fixed;
        z-index: 30;
        top: 80px;
        justify-content: center;
        background: linear-gradient(45deg,#050404e6 17% ,#1a0303e6);
        right: 0px;
        
        width: 0px;
        height: 0px;
        overflow: hidden;
        transition: all 1s ease-in-out;
        /* background-color: yellow; */
    }
    
    #hamList:target{
        width: 100%;
        height: auto;
        
        overflow: hidden;
    }
    #hamList> li{
        /* border: 2px solid red; */
        margin:3px 4px;
    }
    #hamList > li > a{
        color: white;
        text-decoration: none;
        font-size: 0.8rem;
        transition: all 1s ease-in-out;
    }
    #hamList > li > a:hover{
        color:bisque;
        border-bottom: 1px solid bisque;
    }
}

    /* Header navigation bar ends here... */

    /* Header name heading */

#name{
    text-align: center;
    color: white;
    font-size: 4rem;
    margin-top: 70px;
    letter-spacing: 0.1rem;
    font-weight: 700;
    
}
@media screen and (max-width:380px){
    #name{
        font-size: 3rem;
    }
}

    /* Header name heading ends here */

    /* Header logo list starts here */

#icons ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 15px;
    
}
#icons ul li a{
    margin: 0px 15px;
    
}

#icons ul li a i{
   color:white;
   font-size: 1.5rem;
   border-radius: 50%;
   transition: color 1s;
   transition: transform 0.6s ease-out, scale 0.6s ease-in-out;
}
#icons ul li:nth-child(1) a i:hover{
    color: #007bb6;
    transform: scale(1.15);
}
#icons ul li:nth-child(2) a i:hover{
    color: grey;
    transform: scale(1.15);
}
#icons ul li:nth-child(3) a i:hover{
    color: #00aced;
    transform: scale(1.15);
}
#icons ul li:nth-child(4) a i:hover{
    color: #dd4b39;
    transform: scale(1.15);
}
#icons ul li:nth-child(5) a i:hover{
    color: rgb(234, 234, 154);
    transform: scale(1.15);
}

    /* Header logo ends here */
/* Header ends here */

/* Main section starts from here  */
    /* About */
   
#main{
    /* background-image: url(./images/wave_bg.jpg);
    background-repeat: repeat-y;
    background-size: cover; */
}
#aboutImg{
    width: 80%;
    margin: auto;
    text-align: center;
    height: auto;
}
#aboutImg img{
    width: 25%;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 6px 4px gray;
    margin: 20px 0px;
    transition: transform 0.6s ease-out, scale 0.6s ease-in-out;
    
}
#aboutImg img:hover{
    transform: scale(1.05);
}

@media screen and (max-width:380px){
    #aboutImg img{
        width: 80%;
    }
}



/* header ends --------------------------- */
 .sectionBox{           /* THIS IS USED TO TARGET THE OUTER MAIN SECTION */
    width: 85%;
    margin: auto;
    border: 2px solid rgb(164, 56, 149);
    margin-bottom: 25px;
    border-radius: 10px;
    color: white;
    padding: 30px;
    background: rgba(112, 92, 255, 0.8);
    font-size: 1.5rem;
    box-shadow: 8px 8px 6px rgb(204, 96, 63);
    transition: ;
}
.sectionBox > h2{
    font-family: 'Crimson Text', serif;
}
@media screen and (max-width:380px){
    .sectionBox > h2{
        text-align: center;
    }
}

#about > p{
    font-size: 1.5rem;
    text-align: justify;
    font-family: 'Noto Serif Gujarati', serif;
}

.fieldSkills{
    margin-top: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
}
.fieldSkills div{
    width: auto;
    margin-right: 25px;
    background-color: whitesmoke;
    border-radius: 1.5em;
    text-align: left;
    display: flex;
    transition: transform 0.6s ease-out, scale 0.6s ease-in-out;
}
.fieldSkills div:hover{
    transform: scale(1.15);
}
.fieldSkills div img{
    width: 3.2rem;
    margin: 0.5px 5px;
}
@media screen and (max-width:380px){
    #skills > h2{
        text-align: center;
    }
    #skills h3{
        text-align: center;
    }
    .fieldSkills{
        padding: 8%;
        /* background-color: #00aced; */
        display: flex;
        justify-content: space-between;
        border: 2px solid #731919;
        border-radius: 2em;
        background-color: whitesmoke;
        box-shadow: 0PX 0PX 9PX #301d1d;
    }
    .fieldSkills div{
        /* background-color: #007bb6; */
        margin: 5%;
    }
}


   
.sectionInnerBox{            /* THIS SECTION BOX IS USED TO TARGET THE DIV INSIDE SECTION'S */
    width: 98%;
    margin-top: 0.9rem;
    border-radius: 1.5em;
    height: auto;
    background-color: whitesmoke;
    margin-bottom: 20px;
    padding: 0.8em;
    color: black;
    transition: transform 0.6s ease-out, scale 0.6s ease-in-out;
}

    /* EXPERIENCE SECTION STARTS +++++++++++++++++++++ */

.experienceBox{
    
}
#expBox1:hover{
    transform: translateY(-5px) translateX(5px);
}
#expBox2{
    margin: 0;
}
#expBox2:hover{
    transform: translateY(5px) translateX(5px);
}
.expLogo{
    width: 20%;
    /* border: 2px solid black; */
    
}
.companyName{
    /* margin-top: -16px; */
    /* border: 2px solid black; */
}
.companyName a{
    text-decoration: none;
    color: black;
    /* border: 2px solid black; */
}
.expRole{
    font-size: 1rem;
}
.expList{
    /* list-style: none; */
    list-style-position: inside;
}
.expList li{
    font-size: 1rem;
}
#project{

}
.projectBox{
    
}
#proBox1:hover{
    transform: translateY(-5px) translateX(5px);
}
#proBox2{
    margin: 0;
}
#proBox2:hover{
    transform: translateY(5px) translateX(5px);
}
.projectTitle{
    
    color: black;
}
.aboutProject{
    font-size: 1rem;
}
.projectList {
    list-style-position: inside;
}
.projectList li{
    font-size: 1rem;
}


    /* PROJECT SECTION ENDS HERE -------------------------------- */

                        /* #contact{
                            color: white;
                            border: 2px solid red;
                            display: inline-block;
                            height: 0px;
                            width: 0px;
                            position: fixed;
                            top: 70px;
                            right:90px;
                            overflow: hidden;
                            transition: width 1s;
                        }
                        #contact:target{
                            position: fixed;
                            height: auto;
                            width: 200px;
                            background-color:rgba(112, 92, 255, 0.8) ;
                            padding: 10px;
                            border: 2px solid red;
                            top: 50%;
                            left: 50%;
                        } */

    /* EDUCATION SECTION STARTS +++++++++++++++++++++++ */

.educationBox{
    transition: transform 0.6s ease-out, scale 0.6s ease-in-out;
}
#eduBox2{
    margin: 0;
}
#eduBox1:hover{
    transform: translateY(-5px) translateX(5px);
}
#eduBox2:hover{
    transform: translateY(5px) translateX(5px);
}
.educationContainer{
    position: relative;
    height: auto;
}
.eduContBox{
    border: 2px solid #731919;
    position: relative;
    width: 40%;
    margin: 10px 0px;
    left: 5%;
    height: auto;
    font-size: 1rem;
    text-align: right;
    padding: 3%;
    border-radius: 2em;
    color: #080707;
    font-weight: 700;
    box-shadow: 0PX 0PX 9PX #301d1d;
}
.educationBox h5{
    font-size: 1.5rem;
}
.eduContBox:nth-child(2n){
    left: 55%;
    text-align: left;
    /* box-shadow: 4px 6px 3px #301d1d; */
}
#line{
    position: absolute;
    height: 80%;
    width: 0%;
    border: 1.5px solid #731919;
    border-top:0px ;
    border-bottom: 0px;
    right: 50%;
    top: 9%;
    margin: 10px 0px;
}
#linePlane{
    position: sticky;
    top: 50%;
    left: 50%;
    left: -50%;
    transform: rotate(90deg);

}
@media screen and (max-width:380px) {
    #line{
        display: none;
    }
    #education > h2{
        text-align: center;
        
    }
    .eduContBox{
        /* background-color: cyan; */
        width: 90%;
        text-align: center;
        padding: 5%;
    }
    .eduContBox:nth-child(2n){
        left: 5%;
        text-align: center;
        
        margin-top: 5%;
        /* box-shadow: 4px 6px 3px #301d1d; */
    }
    

}
    /* EDCATION SECTION ENDS ------------------------------ */

                                            /* .timeDot::after{
                                                content: ' ';
                                                border-radius: 50%;
                                                width: 0.6rem;
                                                height: 0.6rem;
                                                position: absolute;
                                                background-color: black;
                                                top: 43%;
                                                right: -13.9%;
                                                z-index: 2;
                                            } */
   /* CONTACT SECTION STARTS ++++++++++++++++++++++++++ */
.contactBox{
    display: flex;
    justify-content: space-between;
}

.contactBox:hover{
    transform: translateY(-5px) translateX(5px);
}
#contactForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
}
.inputFields{
    height: 15%;
    margin-bottom: 5%;
    border: none;
    border-bottom: 1px solid brown;
    background-color: inherit;
    outline: none;
}
#contactBtn{
    width: 50%;
    align-self: center;
    height: 13%;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-top: 4%;
}
#myInfo{
    width: 50%;
    padding: 5%;
}
#myInfo > h4{
    font-size: 1.3rem;
}
#myInfo > p{
    font-size: 1rem;
    text-align: justify;
}
#myInfoAboutP{
    line-height: 1rem;
}

@media screen and (max-width:380px){
    .contactBox{
        flex-direction: column;
        align-items: center;
        /* border: 2px solid blue; */
    }
    #contactForm{
        width: 100%;
        /* border: 2px solid red; */
    }
    .inputFields{
        height: 20%;
        width: 100%;
        margin: 10% auto;
        
    }
    #contactBtn{
        width: auto;
        align-self: center;
        height: auto;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        
        padding: 3%;
    }
    
    #myInfo{
        /* border: 2px solid red; */
        width: 100%;
        font-size: 0.9rem;
        padding-top: 1%;
    }
    #myInfo > h4{
        margin-top: 3%;
        font-size: 1.1rem;
    }
}
    /* CONTACT SECTION ENDS ------------------------- */